@import url("https://unpkg.com/leaflet/dist/leaflet.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* leaflet */

/*Font */

body {
  font-family: "Noto Sans JP", sans-serif;
}
select::-ms-expand {
  display: none;
}